.styled-node{
    -fx-background-color: #0C281E;
    -fx-background-radius: 20px;
}


.message-template:hover{
    -fx-background-color: #ff3737;
}

.main-pane{
    -fx-background-color: #4C956C;
}

.text-area .content{
    -fx-background-color: #0C281E;
}

.separator{
    -fx-background-color: #6d267c;
}

.separator .line{
    -fx-border-color: transparent;
}

.room-list-pane{
    -fx-background-color: #1E1B1F;
    -fx-background-radius: 20px;
}

.text-area{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

.text-area .scroll-pane .content .text {
    -fx-text-alignment: center;
}

.text-area .scroll-bar:vertical{
    -fx-background-color: #0C281E;
}

.text-area .scroll-bar .increment-button:hover, .text-area .scroll-bar .decrement-button:hover{
    -fx-background-color: #4C956C;
}

.button{
    -fx-background-radius: 12;
}

.button:hover{
    -fx-background-color: white;
}

.profile-image{
    -fx-border-radius: 20;
}

.scroll-pane{
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
}

.plus:hover{
    -fx-opacity: 0.6;
}